<!-- Composante des formations finis et certifications, contenant : -->
<!-- une carte avec les informations sur la formation fini -->
<!-- une image et un lien qui renvoi vers la certification de cette formation -->


<!-- Conteneur global contenant : la carte de la formation et le lien vers le certificat de la formation -->
<div class="conteneurGlobal">

    <!-- Conteneur card : contient la carte contenant  -->
    <!-- une image à gauche de la formation fini -->
    <!-- le nom de la formation au centre avec la date de début et de fin et le nombre d'heures -->
    <!-- une description à gauche de cette formation -->
    <div class="conteneurCard">


        <div class="image">
            <img src="https://imgs.search.brave.com/0u5zyw_JDZjIlLOhFlYCzcOoSvDqvWMBddhREIPu2kM/rs:fit:1200:1200:1/g:ce/aHR0cDovL3d3dy5w/bmdhbGwuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE2LzA1/L0phdmEtUE5HLVBp/Y3R1cmUucG5n" alt="under construction">
        </div>

        <div class="infosFormation">

            <h1 class="titre">
                Développeur Java
            </h1>

            <div class="dateFormation">
                <p> <span>Date de début de formation:</span> 25 Avril 2022</p>
                <p><span>Date de fin de formation:</span> 19 Juillet 2022</p>
                <p><span>Nombre d'heures:</span> 400h</p>
            </div>
        </div>

        <div class="description">
            <p id="description">Description</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati doloribus, ducimus veritatis laudantium architecto expedita esse inventore tempore, consequatur possimus nemo. Sint, et impedit exercitationem nulla id velit asperiores magnam ea consequatur
            ipsum quia explicabo quidem eveniet assumenda voluptatibus quasi, est officiis maiores pariatur provident ipsam numquam soluta omnis.
        </div>

    </div>

    <!-- le certificat de la formation -->
    <div class="certificat">
        <img src="https://imgs.search.brave.com/yBhbUnNhufelkn2vXR5E4RSYaoUM3Lz6IHE-v7t5TU4/rs:fit:1024:1024:1/g:ce/aHR0cHM6Ly9zdDMu/ZGVwb3NpdHBob3Rv/cy5jb20vNzQ0Mjg0/Ni8xMzUxMi92Lzk1/MC9kZXBvc2l0cGhv/dG9zXzEzNTEyMjQ2/Mi1zdG9jay1pbGx1/c3RyYXRpb24tZ3Jl/ZW4tYXBwcm92ZWQt/b3ItY2VydGlmaWVk/LW1lZGFsLmpwZw"
            alt="certified">

        <a href="">Consulter le certificat</a>
    </div>

</div>
