<div formGroupName="address" class="bordure">
  <form [formGroup]="detailUtilisateurForm" (ngSubmit)="onSubmit()">


    <div id="container " class="d-flex flex-direction justify-content-around flex-column">
      <h1>Formulaire d'inscription</h1>
      <p class="d-flex">
        <label for="nom"> <span>Nom :</span></label>
        <input id="nom" type="text" formControlName="nom" size="100" required>
      </p>

      <p class="d-flex"> <label for="prenom"><span>Prénom :</span> </label>
        <input id="prenom" type="text" formControlName="prenom" size="100" required>
      </p>

      <p class="d-flex"><label for="adresse"><span>Adresse : </span></label>
        <input id="adresse" type="text" formControlName="adresse" size="100" required>
      </p>
    
      <p class="d-flex">
        <label for="email"><span>Email : </span></label>
        <input id="email" type="text" formControlName="email" size="100" required>
      </p>

      <p class="d-flex">
        <label for="numTel"><span>Telephone : </span></label>
        <input id="numTel" type="text" formControlName="numTel" size="100" required>
      </p>


      <div id="container " class="d-flex flex-direction justify-content-around flex-column">
        <p class="d-flex">
          <label for="lieu"><span>Lieu : </span></label>
          <input id="lieu" type="hidden" formControlName="lieu" size="100" required>
        </p>
  
        <p class="d-flex">
          <label for="date"><span>Date : </span></label>
          <input id="date" type="hidden" formControlName="date" size="100" required>
        </p>
  
      </div>

      <div id="button">
        <button type="submit">Valider</button>
      </div>

    </div>

  </form>
</div>