<div formGroupName="address" class="bordure">
  <form [formGroup]="detailUtilisateurForm" (ngSubmit)="onSubmit(detailUtilisateurForm)" >


    <div id="container " class="d-flex flex-direction justify-content-around flex-column">
      <h1>Formulaire d'inscription</h1>

      <mat-form-field class="full-width">
        <p class="d-flex">
          <label for="nom"> <span>Nom :</span></label>
          <input id="nom" type="text" formControlName="nom" size="50" required>
        </p>
        <mat-error *ngFor="let validation of validation_messages.nom">
          <mat-error class="error-message"
            *ngIf="detailUtilisateurForm.get('nom')?.hasError(validation.type) && (detailUtilisateurForm.get('nom')?.dirty || detailUtilisateurForm.get('nom')?.touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <p class="d-flex"> <label for="prenom"><span>Prénom :</span> </label>
          <input id="prenom" type="text" formControlName="prenom" size="50" required>
        </p>
        <mat-error *ngFor="let validation of validation_messages.prenom">
          <mat-error class="error-message"
            *ngIf="detailUtilisateurForm.get('prenom')?.hasError(validation.type) && (detailUtilisateurForm.get('prenom')?.dirty || detailUtilisateurForm.get('prenom')?.touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <p class="d-flex"> <label for="genre"><span>Genre :</span> </label>
          <input id="genre" type="text" formControlName="genre" size="50" required>
        </p>
        <mat-error *ngFor="let validation of validation_messages.genre">
          <mat-error class="error-message"
            *ngIf="detailUtilisateurForm.get('genre')?.hasError(validation.type) && (detailUtilisateurForm.get('genre')?.dirty || detailUtilisateurForm.get('genre')?.touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <p class="d-flex"><label for="adresse"><span>Adresse : </span></label>
          <input id="adresse" type="text" formControlName="adresse" size="50" required>
        </p>
        <mat-error *ngFor="let validation of validation_messages.adresse">
          <mat-error class="error-message"
            *ngIf="detailUtilisateurForm.get('adresse')?.hasError(validation.type) && (detailUtilisateurForm.get('adresse')?.dirty || detailUtilisateurForm.get('adresse')?.touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <p class="d-flex">
          <label for="email"><span>Email : </span></label>
          <input id="email" type="text" formControlName="email" size="50" required>
        </p>
        <mat-error *ngFor="let validation of validation_messages.email">
          <mat-error class="error-message"
            *ngIf="detailUtilisateurForm.get('email')?.hasError(validation.type) && (detailUtilisateurForm.get('email')?.dirty || detailUtilisateurForm.get('email')?.touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <p class="d-flex">
          <label for="numTel"><span>Telephone : </span></label>
          <input id="numTel" type="text" formControlName="numTel" size="50" required>
        </p>
        <mat-error *ngFor="let validation of validation_messages.numTel">
          <mat-error class="error-message"
            *ngIf="detailUtilisateurForm.get('numTel')?.hasError(validation.type) && (detailUtilisateurForm.get('numTel')?.dirty || detailUtilisateurForm.get('numTel')?.touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <div id="container " class="d-flex flex-direction justify-content-around flex-column">
        <p class="d-flex">
          <label for="lieu"><span>Lieu : </span></label>
          <input id="lieu" type="hidden" formControlName="lieu" size="50" required>
        </p>

        <p class="d-flex">
          <label for="date"><span>Date : </span></label>
          <input id="date" type="hidden" formControlName="date" size="50" required>
        </p>

      </div>

      <div id="button">
        <button type="submit">Valider</button>
      </div>

    </div>

  </form>
</div>