<div class="conteneurGlobal">
    <div class="conteneurCard">


        <div class="image">
            <img src="https://imgs.search.brave.com/0u5zyw_JDZjIlLOhFlYCzcOoSvDqvWMBddhREIPu2kM/rs:fit:1200:1200:1/g:ce/aHR0cDovL3d3dy5w/bmdhbGwuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE2LzA1/L0phdmEtUE5HLVBp/Y3R1cmUucG5n" alt="under construction">
        </div>

        <div class="infosFormation">

            <h1 class="titre">
                Développeur Java
            </h1>

            <div class="dateFormation">
                <!-- <p>Date de début de formation: {{session.date}}</p>
                <p>Date de fin de formation: {{session.date}}</p>
                <p>Nombre d'heures: {{session.date}}</p> -->
                <p> <span>Date de début de formation:</span> 25 Avril 2022</p>
                <p><span>Date de fin de formation:</span> 19 Juillet 2022</p>
                <p><span>Nombre d'heures:</span> 400h</p>
            </div>

            <a href="">Consulter le planning de formation</a>
        </div>

        <div class="description">
            <p id="description">Description</p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel obcaecati doloribus, ducimus veritatis laudantium architecto expedita esse inventore tempore, consequatur possimus nemo. Sint, et impedit exercitationem nulla id velit asperiores magnam ea consequatur
            ipsum quia explicabo quidem eveniet assumenda voluptatibus quasi, est officiis maiores pariatur provident ipsam numquam soluta omnis.
        </div>

    </div>

    <div class="sessionEnCours">
        <a href="">Evaluer la session en cours</a>
    </div>

</div>