@import "../Front/src/styles.scss";
.body {
  font-family : Georgia, $fourth-color;
  font-size : 1rem;
}

// H1
.primary-title{
font-family: $secondary-color, sans-serif;
padding:20px;
font-size : 1.3rem;
font-stretch: expanded;
font-weight: 900;
text-align : center;
margin : auto;
margin-top: 20px;
}
