<div class="infos">
    <h1>Informations personnelles :</h1>

    <app-interface-utilisateur-card-infos></app-interface-utilisateur-card-infos>
</div>

<div class="formationEnCours">
    <h1>Formation en cours :</h1>

    <app-interface-utilisateur-card-formation-en-cours></app-interface-utilisateur-card-formation-en-cours>
</div>


<div class="formationsFinis">
    <h1>
        Formations finis et certifications :
        <button (click)="onClick()">
          <svg *ngIf="!isActive" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
          </svg>
          <svg *ngIf="isActive" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-up-square-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9h8a.5.5 0 0 0 .374-.832l-4-4.5a.5.5 0 0 0-.748 0l-4 4.5A.5.5 0 0 0 4 11z"/>
          </svg>
        </button>
    </h1>

    <app-interface-utilisateur-card-formations-finis *ngIf="isActive"></app-interface-utilisateur-card-formations-finis>
</div>