h1 {
    color: #25a197;
}

.infos {
    margin: 50px 100px;
}

.formationEnCours {
    margin: 50px 100px;
}

.formationsFinis {
    margin: 0 100px;
}

button {
    border: none;
    outline: none;
    background: none;
}

svg {
    color: #25a197;
}