<nav>
    <div class="container">
        <!-- Sépare les boutons de la barre de recherche -->
        <div class="buttons">
            <!-- Les 3 boutons de la barre de navigation -->
            <button mat-button>Accueil</button>
            <button mat-button>Formations</button>
            <button mat-button>Nous connaître</button>
        </div>

        <div class="form">
            <!-- div form pour séparer la barre de recherche des 3 boutons et pouvoir àjuster sa position -->
            <form>
                <!-- barre de recherche -->
                <input type="search" placeholder=" Rechercher une formation">
            </form>
        </div>

    </div>

</nav>
