@import "../Front/src/styles.scss";
// Background color pour la barre de navigation
nav {
    border: 1px black;
    background-color: $primary-color;
    width: auto;
    height: 120px;
}

.nav-link {
  color : white;
  font-weight: 550;
  margin-right: 30px;
  margin-left: 30px;
}

// Ajuste la hauteur et la largeur de la barre de recherche
input {
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #8b8691;
}
.dropdownSearch {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: pink;
  padding-top: 5px;
  padding-left: 5px;
}

p:hover {
  text-decoration: underline;
  cursor: pointer;
}
