<div
  *ngFor="let theme of themes"
  class="container-card d-flex justify-content-space-around"
  routerLink="/themes/{{ theme.id }}"
>
  <div class="card bg-light">
    <div class="card-body text-center">
      <h2 class="card-title secondary-title">{{ theme.nom }}</h2>
      <p class="card-text text-justify m-4">{{ theme.contenu }}</p>
      <app-sous-theme-list></app-sous-theme-list>
      <button
        routerLink="/formulaire-inscription"
        class="btn btn-secondary m-3"
      >
        Information et inscription
      </button>
    </div>
  </div>
</div>
