@import "../Front/src/styles.scss";

li {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  margin-left: -20px;
  text-decoration: underline;
  cursor: pointer;
}
