@import "../Front/src/styles.scss";
#mySidebar{
background: linear-gradient(52deg, rgba(37,161,151,1) 0%, rgba(163,191,168,1) 35%, rgba(163,191,168,1) 56%, rgba(37,161,151,1) 100%);
  color : black;
  font-size: 1.2rem;
  font-weight: 550;
  list-style: none;
  padding: 10px;
  height: 100vh;
}

