@import "../Front/src/styles.scss";
#mySidebar{
  background-color: $secondary-color;
  color : black;
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  padding: 10px;
  height: 100vh;
}

