html, body { height: 100%; font-family : Georgia, serif;}
// Color :
$primary-color: #25a197;
$secondary-color: #71b9b3;
$third-color : #6d6d6d;
$fourth-color : #0a0a0a;

// Buttons :
.button-primary {
  background-color: $primary-color;
  text-align : center;
    vertical-align: center;
    font-size : 1rem;
    min-width : 150px;
    max-width: 230px;
    border-radius: 25px;
    padding : 8px;
}
.button-secondary {
  color :#91d1bb;

}


// Card
p {
  font-size: 0.9rem;
  font-weight: 500;
}

.primary-title{
  color: $fourth-color;
  padding:20px;
  font-size : 2rem;
  font-stretch: expanded;
  font-weight: 900;
  text-align : center;
  margin : auto;
  margin-top: 30px;
  margin-bottom: 30px;
  }

.secondary-title{
  color: $fourth-color;
  font-size : 1.4rem;
  font-stretch: expanded;
  font-weight: 600;
  text-align : center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.third-title{
  color: $fourth-color;
  font-size : 0.4rem;
  font-stretch: expanded;
  font-weight: 600;
  text-align : center;
  margin-top: 10px;
}

app-home-page, app-theme, app-theme-card,
app-sous-theme,app-sous-theme-list, app-sous-theme-card,
app-formation, app-formation-card,
app-details-formation, app-details-formation-infos-parent, app-details-formation-inter-intra-parent,
app-interface-utilisateur-card-formations-finis,
app-interface-utilisateur{
  width: 100%;
  justify-content: center;
}


// pages Catalogue ( formations, themes, sous-themes)
.container-card {
  border-radius: 5px;
  background-color: #e6e6e6;
  display: flex;
  flex-flow: wrap column;
  justify-content: space-around;
  height: auto;
  width: 350px;
  padding: 30px 30px;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 20px 20px rgb(0 0 0 / 15%);
}

.container-card-themes {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: auto;
}
.container-card-sousThemesTheme {
  font-size: 1.1rem;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

.container-card-sousThemes {
  width: 400px;
  margin: 15px;
}

