/*ajouter à votre classe "button" les classes suivantes :*/
/* bouton valider  "btn btn-success h-25 w-25 btn-lg"*/
/* bouton annuler  "btn btn-danger h-25 w-25 btn-lg"*/


// Buttons :



// Color :
$primary-color: #219BAB;
$secondary-color: #A3BFA8;
$third-color : #494848;
$fourth-color : #0a0a0a;

