<footer class="fixed-bottom">
  <!-- Conteneur des différentes sections -->
  <div class="border">
    <!-- adresse de l'entreprise -->
    <div class="coordonnee">
      <h2>Coordonnées</h2>
      <p>IT Training</p>
      <p>123 rue Lorem, ipsum dolor.</p>
      <p>12300 Lorem ipsum dolor sit amet.</p>
    </div>

    <!-- Réseaxu sociaux -->
    <div class="nousSuivre">
      <h2 class="textH2">Nous suivre</h2>

      <div class="social">
        <!-- Linkedin -->
        <a href="https://linkedin.com/">
          <img src="../../../assets/linkedin.png" alt="Linkedin" />
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com">
          <img src="../../../assets/twitter.png" alt="Twitter" />
        </a>

        <!-- Facebook -->
        <a href="https://facebook.com/">
          <img src="../../../assets/facebook.png" alt="Facebook" />
        </a>

        <!-- Youtube -->
        <a href="https://www.youtube.com/">
          <img src="../../../assets/youtube.png" alt="Youtube" />
        </a>
      </div>
    </div>

    <!-- Informations pour contacter l'entrerpise -->
    <div class="nousContacter">
      <h2>Nous contacter</h2>

      <p>E-mail: it-training@ITTraining.fr</p>
      <p>Tél: 0123456789</p>
    </div>
  </div>
</footer>
