<!-- Composante pour la bordure blanche qui contiendra les infos (détails) de la formation -->

<div class="globalContainer">

    <!-- Les détails de la formation -->
    <div class="infos">

        <!-- Le texte des infos sur la formation -->
        <div class="texte" *ngIf="boutonNom === 'Présentation'">
            <div *ngIf="textLines(formation.description).length > 1;else formationDescription">
                <div *ngFor="let text of textLines(formation.description)">
                    <p>
                        {{text}}
                    </p>
                </div>
            </div>
            <!-- ng-template pour la condition else -->
            <ng-template #formationDescription>
                {{formation?.description}}
            </ng-template>
        </div>




        <!-- Le texte des objectifs de la formation -->
        <div class="texte" *ngIf="boutonNom === 'Objectifs'">
            <div *ngIf="textLines(formation.objectifs).length > 1;else formationObjectif">
                <ul *ngFor="let text of textLines(formation.objectifs)">
                    <li>
                        {{text}}
                    </li>
                </ul>
            </div>
            <!-- ng-template pour la condition else -->
            <ng-template #formationObjectif>
                {{formation?.objectifs}}
            </ng-template>
        </div>

        <!-- Le texte pour le programme de la formation -->
        <div class="texte" *ngIf="boutonNom === 'Programme'">
            <div *ngIf="textLines(formation.programme).length > 1;else formationProgramme">
                <ol>
                    <div *ngFor="let text of textLines(formation.programme)">
                        <li class="listeOrdonnee">
                            {{text}}
                        </li>
                    </div>
                </ol>
            </div>
            <!-- ng-template pour la condition else -->
            <ng-template #formationProgramme>
                {{formation?.programme}}
            </ng-template>
        </div>

        <!-- Contacter le responsable formation -->
        <div class="texte" *ngIf="boutonNom === 'Contact'">
            contact
        </div>

    </div>

</div>