<div class="card">
    <div class="card-header text-white bg-info">
        Formulaire d'inscription
    </div>
    <div class="card-body">
        <form novalidate (ngSubmit)="saveData(utilisateurForm)" #utilisateurForm="ngForm">
            <div class="form-column">
                <div class="col-md-6 mb-3">
                    <label>Nom :</label>
                    <input type="text" class="form-control" placeholder="nom" [(ngModel)]="utilisateur.nom" name="nom"
                        required #nomVar="ngModel" [ngClass]="{'is-invalide':nomVar.touched && !nomVar.valid}">
                    <div class="invalide-feedback">
                        <span *ngIf="nomVar.errors">
                            Entrez votre nom
                        </span>

                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Prénom :</label>
                    <input type="text" class="form-control" placeholder="prenom" [(ngModel)]="utilisateur.prenom"
                        name="prenom" required #prenomVar="ngModel"
                        [ngClass]="{'is-invalide':prenomVar.touched && !prenomVar.valid}">
                    <div class="invalide-feedback">
                        <span *ngIf="nomVar.errors">
                            Entrez votre prénom
                        </span>

                    </div>
                </div>
            </div>

            <form-row>
                <div class="col-md-6 mb-3">
                    <label for="">Genre :</label>
                    <select class="form-control">
                        <option value="">Votre genre :</option>
                        <option value="A">Masculin</option>
                        <option value="A">Feminin</option>
                        <option value="A">Autre</option>
                    </select>
                </div>
            </form-row>

            <div class="form-row mb-3">
                <div class="col-md-6 mb-3">
                    <label for="">Adresse :</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Mail</label>
                    <input type="text" class="form-control" placeholder="email" [(ngModel)]="utilisateur.email"
                        name="email" required #emailVar="ngModel"
                        [ngClass]="{'is-invalide':emailVar.touched && !emailVar.valid}">
                    <div class="invalide-feedback">
                        <span *ngIf="emailVar.errors">
                            Entrez votre adresse mail
                        </span>

                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-info" (click)="addUtilisateur(utilisateurForm)">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>

<hr>

<p>Dirty: {{utilisateurForm.dirty}} </p>
<p>Pristine: {{utilisateurForm.pristine}} </p>
<p>Valid: {{utilisateurForm.valid}} </p>
<p>Invalid: {{utilisateurForm.invalid}} </p>

<pre>Value:{{utilisateurForm.value | json}}</pre>