.container-card-form {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  margin: 0px 100px;
}
label {
  font-size : 1.3rem;
  font-stretch: expanded;
  font-weight: 700;
  margin: 10px 0px;
}
