<div class="card">
  <div class="primary-title">Formulaire d'inscription</div>
  <div class="container-card-form">
    <form
      novalidate
      (ngSubmit)="saveData(utilisateurForm)"
      #utilisateurForm="ngForm"
    >
      <div class="form-column">
        <div>
          <label>Nom :</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="utilisateur.nom"
            name="nom"
            required
            #nomVar="ngModel"
            [ngClass]="{ 'is-invalide': nomVar.touched && !nomVar.valid }"
          />
          <div class="invalide-feedback">
            <span *ngIf="nomVar.errors"> Entrez votre nom </span>
          </div>
        </div>
        <div class="">
          <label>Prénom :</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="utilisateur.prenom"
            name="Entrez votre prénom"
            required
            #prenomVar="ngModel"
            [ngClass]="{ 'is-invalide': prenomVar.touched && !prenomVar.valid }"
          />
          <div class="invalide-feedback">
            <span *ngIf="nomVar.errors"> Entrez votre prénom </span>
          </div>
        </div>
      </div>

      <form-row>
        <div class="">
          <label for="">Genre :</label>
          <select class="form-control">
            <option value="A"></option>
            <option value="A">Masculin</option>
            <option value="A">Feminin</option>
            <option value="A">Autre</option>
          </select>
        </div>
      </form-row>

      <div class="form-row">
        <div>
          <label>E-mail :</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="utilisateur.email"
            name="email"
            required
            #emailVar="ngModel"
            [ngClass]="{ 'is-invalide': emailVar.touched && !emailVar.valid }"
          />
          <div class="invalide-feedback">
            <span *ngIf="emailVar.errors"> Entrez votre adresse e-mail</span>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div>
          <label for="">Adresse :</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div>
          <label for="">Code postale :</label>
          <input type="number" class="form-control" />
        </div>
      </div>
      <div class="form-row">
        <div>
          <label for="">Ville :</label>
          <input type="text" class="form-control mb-5" />
        </div>
      </div>
      <div class="text-center mt-2">
        <button
          class="button-primary"
          (click)="addUtilisateur(utilisateurForm)"
        >
          Sauvegarder
        </button>
      </div>
    </form>
  </div>
</div>
