@import "../Front/src/styles.scss";

.sousThemeDeTheme {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 0px;
}
li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
