<!-- Composante pour la bordure blanche qui contiendra les infos (détails) de la formation -->

<div class="globalContainer">

    <!-- Les détails de la formation -->
    <div class="infos">

        <div class="rightSection">
            <div class="petitRectangle">

            </div>

            <div class="infosChange">

                <a href="">
                    <p>Changer l'email</p>
                </a>
                <a href="">
                    <p>Changer le numéro</p>
                </a>

            </div>

        </div>

        <!-- Le texte des infos sur la formation -->
        <div class="texte">
            <p> <span>Prenom:</span> Amine</p>
            <p> <span>Nom:</span> LAAROUSSI</p>
            <p> <span>Email:</span> laaroussi.amine@yandex.com</p>
            <p> <span>Numéro de téléphone:</span> 0758516949</p>

        </div>
    </div>

</div>
